body {
    background-color: #7395AE;
    color: black;
    font-family: "Candara";
    font-size:1.1rem;

}

.containers{
  border-radius: 5px;
  background-color: #B1A296;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}


/* dropdown_tab css*/

#app-container {
  width: 90%;
  position: absolute;
  left: 5%;

}

#table-selection-container {
  border-radius: 5px;
  background-color: #B1A296;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
  }



/* query_tab css*/

#information_container,#soccer-dropdown-options{
  display: flex;
}
#sql_container{
  flex: 65%;
}

#sql_script{
  font-size: 1.2rem;
}


#table_list_container{
  flex:35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* classes initialized*/
.buttons{
  height:50px;
  width: 250px;
  padding: 1px;
  font-size:0.85rem;
  color: black ;
  background-color: whitesmoke;
  text-transform: lowercase;
}

.buttons:hover {
  background-color: #989FCC ; /* Green */
  color: whitesmoke;
}

.tables{
  flex
}

/* #nba-graph,#soccer-graph{
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 2px;
} */
